body {
    font-family: 'Raleway', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Estilo para o header */
header {
    margin-bottom: 20px;
}

/* Estilo para o logo */
.navbar-brand img {
    margin-right: 20px;
}

/* Estilo para a navegação */
.navbar-nav {
    margin-left: auto;
}

.navbar-toggler {
    margin-left: 20px;
}

nav .navbar-nav .nav-item {
    margin-right: 15px;
}

nav .navbar-nav .nav-link {
    border-radius: 4px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

nav .navbar-nav .nav-link:hover {
    background-color: #03cc5e;
    color: #121212;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


/* Estilo para o main */
.section-title, h2 {
    color: white;
    margin-bottom: 40px;
}

main .banner {
    margin-bottom: 40px;
}

main .carousel-inner img {
    height: 500px;
    width: 80%;
    object-fit: cover;
    margin: 0 auto;
    cursor: pointer;
}

main .destaques .card {
    position: relative;

    transition: transform 0.3s ease; /* Suaviza o efeito ao passar o mouse */
    cursor: pointer; /* Muda o cursor para pointer ao passar o mouse */
}

main .destaques .card {
    background-color: rgba(0, 0, 0, 0.8);
}

main .destaques .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade de 50% */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s ease; /* Suaviza a transição da opacidade */
}

main .destaques .card:hover::before {
    opacity: 1; /* Torna a sobreposição visível */
}

main .destaques .card-img-top {
    height: 200px;
    object-fit: cover;
}

main .destaques .card:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do card ao passar o mouse */
}

main .destaques .card-title {
    color: #03cc5e;
}

main .destaques .card-text {
    color: #bbb;
}

main .destaques .preco {
    color: #03cc5e;
}

main .destaques .btn-primary {
    background-color: #03cc5e;
    border: none;
}

main .destaques .btn-primary:hover {
    background-color: #028c4d;
}

/* Estilo para o footer */
footer {
    background-color: #1f1f1f;
    color: #fff;
}

footer h5 {
    margin-top: 0;
    color: #03cc5e;
}

.footer-social-icons img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

img.img-fluid {
    width: 100%;
    height: auto;
}


/* Estilo geral dos botões */
button {
    background-color: #03cc5e; /* Cor de fundo verde */
    color: #121212; /* Texto preto */
    border: none; /* Remove a borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de mãozinha ao passar o mouse */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave */
}

/* Efeito de hover para botões */
button:hover {
    background-color: #028c53; /* Cor de fundo verde mais escura */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
}