<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrinho de Compras</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/carrinho.css">
</head>

<body>
  <header>
    <div class="banner-top">
      <img src="../static/img/GAMER.gif" alt="Banner Topo" class="img-fluid">
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="http://localhost:8080">
        <img src="../static/img/LOGO.png" alt="Atma Games" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:8080/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/jogos">Games</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#footer">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8080/adm" id="adminLink">Admin</a>
          </li>
        </ul>
        <form id="form-pesquisa" class="form-inline mr-3">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Buscar jogos..."
            aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="../static/img/default-profile.jpg" id="userIcon" alt="User Icon"
              style="width: 30px; height: 30px; border-radius: 50%;">
          </a>
          <div class="dropdown-menu" aria-labelledby="userMenu">
            <a class="dropdown-item" href="http://localhost:8080/cadastro" id="loginLink">Login</a>
            <a class="dropdown-item" href="http://localhost:8080/perfil" id="profileLink"
              style="display:none;">Perfil</a>
            <a class="dropdown-item" href="http://localhost:8080/logout" id="logoutLink" style="display:none;">Sair</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="cart-container">
      <h2>Seu Carrinho</h2>
      <div id="cartItems">
        <!-- Itens do carrinho serão adicionados aqui dinamicamente -->
      </div>

      <div id="cartTotal">
        <!-- Total do carrinho será atualizado aqui -->
      </div>

      <button id="continuarComprando">Continuar Comprando</button>
    </div>
  </main>
  <footer id="footer" class="bg-dark text-white mt-5 p-4">
       
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Sobre</h5>
          <p>CNPJ: 123.456.789/0001-00</p>
          <p>Endereço: Av. Principal, 1234</p>
          <p>Telefone: (11) 1234-5678</p>
          <p>Email: contato@atma.com</p>
          <p>WhatsApp: (11) 98765-4321</p>
        </div>
        <div class="col-md-4">
          <h5>Redes Sociais</h5>
          <div class="footer-social-icons">
            <a href="#" class="text-white"><img src="../static/img/facebook.png" alt="Facebook"></a>
            <a href="#" class="text-white"><img src="../static/img/instagram.png" alt="Instagram"></a>
            <a href="#" class="text-white"><img src="../static/img/twitter.png" alt="Twitter"></a>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Empresa Parceira</h5>
          <p>Turnover RH</p>
          <p>Telefone: (11) 1111-2222</p>
          <p>Email: rh@turnover.com</p>
          <img src="../static/img/logo_Turnover_branco.png" alt="Logo Turnover" width="100px" class="img-fluid">
        </div>
      </div>
    </div>
</footer>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="../static/javascript/carrinho.js"></script>
  <script src="../static/javascript/busca.js"></script>
</body>

</html>