<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso de Pagamento</title>
    <link rel="stylesheet" href="../static/css/pagamentoSucesso.css">
</head>
<body>
    <div id="popup">
        <div class="content">
            <h2>Sucesso de Pagamento!</h2>
            <p>Seu pagamento foi processado com sucesso.</p>
        </div>
        <button id="back-button">Voltar</button>
    </div>
    

    <script src="../static/javascript/pagamentoSucesso.js"></script>
</body>
</html>
